doctype html
html
  head
    title EHA App Dashboard
    meta(charset='UTF-8')
    meta(name='description', content='A suite of applications developed by EcoHealth Alliance which aid in disease forecasting and data analysis.')
    meta(name='keywords', content='disease forecasting, data analysis, threat, annotation')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='styles/main.css')
    script(src='scripts/main.js')
    link(href='//fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54918272-4', 'auto');
      ga('send', 'pageview');
  body
    hr
    div.navbar.navbar-light.bg-light
      a.navbar-brand.nav-header(href="#") Applications

    .container-fluid.eha-apps-container
      .row.block-grid-lg-3.block-grid-md-3.block-grid-sm-2
        .block-grid-item
          .card.card-block
            a.goto-app(href='https://grits.eha.io')
              h2 GRITS (Global Rapid Identification Tool System)
              .logo.x-small(class='grits')
              span.card-text
                | A natural language processing and analysis tool that annotates epidemiological information in unstructured text sources, diagnoses diseases and extracts locations.
            a.info(href='documents/GRITS-info.pdf') Detailed description

        .block-grid-item
          .card.card-block
            a.goto-app(href='https://flirt.eha.io/')
              h2 FLIRT (Flight Risk Tracker)
              .logo(class='flirt')
              span.card-text
                | Network analysis tool that enables users to examine flight networks to identify where infected travelers and contaminated goods are likely to travel. Connectedness between airports is calculated using passenger, cargo, and network data.
            a.info(href='documents/FLIRT-info.pdf') Detailed description

        .block-grid-item
          .card.card-block
            a.goto-app(href='http://eidr-connect.eha.io')
              h2 EIDR Connect
              .logo.small(class='eidr-connect')
              span.card-text
                | EIDR Connect is a centralized web platform dedicated to tracking Emerging Infectious Diseases (EIDs). Through EIDR Connect, ongoing EID events can be curated by experts compared and individual emergence events can be explored in depth.
            .coming-soon-link(title="Detailed description coming soon") Detailed description
    hr
    div.navbar.navbar-light.bg-light
      a.navbar-brand.nav-header(href="#") Legacy Applications

    .container-fluid.eha-apps-container
      .row.block-grid-lg-3.block-grid-md-3.block-grid-sm-2
        .block-grid-item
          .card.card-block
            div.goto-app.retired
              h2 EIDR: Emerging Infectious Diseases Repository
              .logo.x-small(class='eidr')
              span.card-text
                | EIDR is dedicated to exploring the origins of Emerging Infectious Diseases (EIDs). EIDR contains events that represent the earliest known emergence of EIDs, spanning from 1940 to 2013.
            a.info.retired(href='documents/EIDR-info.pdf') Whitepaper

        .block-grid-item
          .card.card-block
            div.goto-app.retired
              h2 NIAM (Novel Infectious Agent Monitor)
              .logo.x-small(class='niam')
              span.card-text
                | Novel Infectious Agent Monitor highlights and discovers newly trending infectious diseases within ProMED mail posts using an advanced algorithm that analyzes historical data and disease mentions.
            a.info.retired(href='documents/NIAM-info.pdf') Whitepaper

        .block-grid-item
          .card.card-block
            div.goto-app.retired
              h2 GRITS Embeded (Global Rapid Identification Tool System)
              .logo.large(class='grits-embed')
              span.card-text
                | GRITS Application for embeding in ecosystems such as the BSVE. Features a streamlined interface and disease classification capabilities as well as geoname resolution.
            a.info.retired(href='documents/GRITS-info.pdf') Whitepaper


        .block-grid-item
          .card.card-block
            div.goto-app.retired
              .logo.small(class='spa')
              span.card-text
                | A map-based application showing the number of mentions per capita of each country on ProMED-mail feeds.
            a.info.retired(href='documents/SPA-info.pdf') Whitepaper

        .block-grid-item
          .card.card-block
            div.goto-app.retired
              h2 Tater
              .logo.small(class='tater')
              span.card-text
                | An easy to use annotation application that allows users to code, analyze and cross-analyze, store, and export text data.
            a.info.retired(href='documents/Tater-info.pdf') Whitepaper

        .block-grid-item
          .card.card-block
            div.goto-app.retired
              h2 Mantle
              .logo(class='grrs')
              span.card-text
                | The Global Ranavirus Reporting System allows users to create and manage records for Ranavirus studies and reports, import and export data, view tables and maps of reports, and leave reviews and comments on reports.
            a.info.retired(href='documents/GRRS-info.pdf') Whitepaper




    .featured.footer
      a.contact(href='mailto:')
      a.eha-logo(href='http://ecohealthalliance.org')
      h4 EcoHealth Alliance
